@font-face {
    font-family: "Cyberpunk";
    src: url('./fonts/CyberwayRiders.ttf');
    font-weight: 600;
    font-style: normal;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 100vw;
}

nav #nav_menu{
    display: flex;
    justify-content: center;
}

nav #nav_menu button{
    margin: 0 20px;
}

h1{
    font-family: "Cyberpunk";
    color: yellow;
    stroke: green;
    font-size: 5rem;
}

#content{
   background-color: white;
   padding: 20px;
}

.top_seperator{
    background-image: linear-gradient(90deg,#000 28px,#fcee0a 0,
    #fcee0a calc(50% - 14px),#000 calc(50% - 14px),#000 calc(50% + 14px),
    #fcee0a calc(50% + 14px),#fcee0a calc(100% - 28px),#000 calc(100% - 28px),
    #000),linear-gradient(90deg,#000 2px,#fcee0a 0,#fcee0a calc(50% - 1px),
    #000 calc(50% - 1px),#000 calc(50% + 1px),#fcee0a calc(50% + 1px),
    #fcee0a calc(100% - 2px),#000 calc(100% - 2px),#000);
    background-repeat: no-repeat;
    background-size: 100% 2px,100% 28px;
    height: 28px;
    width: 50vw;
}

.bottom_seperator{
    background-image: linear-gradient(90deg,#000 2px,#fcee0a 0,#fcee0a calc(50% - 1px),
    #000 calc(50% - 1px),#000 calc(50% + 1px),#fcee0a calc(50% + 1px),
    #fcee0a calc(100% - 2px),#000 calc(100% - 2px),#000),
    linear-gradient(90deg,#000 28px,#fcee0a 0,#fcee0a calc(50% - 14px),#000 calc(50% - 14px),
    #000 calc(50% + 14px),#fcee0a calc(50% + 14px),#fcee0a calc(100% - 28px),#000 calc(100% - 28px),#000);
    background-repeat: no-repeat;
    background-size: 100% 26px,100% 28px;
    height: 28px;
    width: 50vw;
}

.cut_container{
    border-color: #fcee0a transparent transparent;
    border-style: solid;
    border-width: 17px 17px 0 0;
    height: 0px;
    width: 100px;
    /* position: absolute;
    top: 0; */
}

/* Want to add an svg after this */
.black_container{
    background-color: #000;
    height: 100px;
    width: 75vw;
}

.gallery_container{
    display: block;
    width: 100%;
    position: relative;
}

.myImg{
    height: 100px;
    width: 100px;
    background-color: red;
}

.gallery_item_arrow{
    border-left: 24px solid #ffffff;
    border-top: 24px solid transparent;
    bottom: 0px;
    display: block;
    height: 0px;
    /* left: -1px; */
    position: absolute;
    width: 24px;
    z-index: 1;
}

.yellow_border{
    width: 75vw;
    height: 30px;
}