:root{
    --lightBlue: #00F0FF;
    --neonYellow: #fcee0a;
    --cyberRed: #FC012A;
    --cyberwhite: #fff;
}

@font-face {
    font-family: "Cyberpunk";
    src: url('./fonts/CyberwayRiders.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: "Blender";
    src:url('./fonts/Blender-Pro-Book.otf');
}

@font-face{
    font-family: "Neon";
    src:url('./fonts/NEON.TTF');
}

body{
    margin: 0;
    font-family: "Blender";
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */
}

nav{
    /* width: 100vw; */
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

nav button{
    /* margin: 0 20px; */
    font-family: "Neon";
    height: 8vh;
    width: 200px;
    font-size: 2rem;
    background-color: inherit;
    color: var(--lightBlue);
    filter: brightness(60%);
    border: none;
}

nav button:hover{
    filter: brightness(100%);
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px var(--lightBlue), 0 0 30px var(--lightBlue), 0 0 40px var(--lightBlue), 0 0 55px var(--lightBlue), 0 0 75px var(--lightBlue);
}

h1{
    font-family: "Cyberpunk";
    background-color: black;
    color: var(--neonYellow);
    text-shadow: 2px 2px 7px rgba(0,240,255,0.95);
    font-size: 5rem;
    padding: 20px 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

#content{
    width: 100%;
    background-color: var(--neonYellow);
}

.contact{
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #intro::before{
    content: "Here is some content"
} */

.yellow_border{
    width: 100vw;
    height: 20px;
    background-image: url("./imgs/yellow_border.svg");
    background-repeat: no-repeat;
    background-color: black;
    padding-bottom: 18px;
}

.loading_info{
    /* text-align: left; */
    position: relative;
    color: var(--neonYellow);
    bottom: -16px;
    padding-left: 10px;
    margin: 0;
}

/* .menu{
    background-color: black;
} */

#food, #drinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
    /* color: var(--cyberwhite); */
}

.food_item{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    color: var(--cyberwhite);
    clip-path: polygon(0 85%, 0% 0px, 100% 0, 100% 100%, 15% 100%);
    position: relative;
    background-color: var(--cyberRed);
    width: 70vmin;
    margin: 10px 0;
    padding: 20px;
    /* height: 90vmin; */
}

.food_item img{
    /* background-color: black; */
    /* border: black solid 4px; */
    /* clip-path: polygon(1px 84%, 1% 1px, 99% 1px, 99% 99%, 14% 99%); */
}

.food_item .border{
    clip-path: polygon(0 85%, 0% 0px, 100% 0, 100% 100%, 15% 100%);
    background: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food_description{
    padding: 0 5px 0 15%;
    margin: 0;
    text-align: right;
}
/* .cut_out{
    border-left: 24px solid var(--neonYellow);
    border-top: 24px solid transparent;
    bottom: 24px;
    display: block;
    height: 0px;
    position: absolute;
    width: 24px;
    z-index: 1;
} */

#map{
    height: 200px;
    width: 200px;
}

#contact_gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-auto-rows: minmax(350px,1fr);
    align-items: stretch;
    gap: 15px;
    margin: 0 20px;
}

.contact_container{
    position: relative;
}

.contact_container img{
    background-color: var(--lightBlue);
    /* border: var(--lightBlue) solid 4px; */
    display: block;
    height: auto;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.88);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.overlay h4, .overlay p{
    text-align: center;
    color: var(--lightBlue);
    font-size: 3rem;
    font-family: "Blender";
}

.contact_container:hover > .overlay{
    height: 100%;
    outline: var(--lightBlue) solid 4px;
}

.top_seperator{
    background-image: linear-gradient(90deg,#000 28px,#fcee0a 0,
    #fcee0a calc(50% - 14px),#000 calc(50% - 14px),#000 calc(50% + 14px),
    #fcee0a calc(50% + 14px),#fcee0a calc(100% - 28px),#000 calc(100% - 28px),
    #000),linear-gradient(90deg,#000 2px,#fcee0a 0,#fcee0a calc(50% - 1px),
    #000 calc(50% - 1px),#000 calc(50% + 1px),#fcee0a calc(50% + 1px),
    #fcee0a calc(100% - 2px),#000 calc(100% - 2px),#000);
    background-repeat: no-repeat;
    background-size: 100% 2px,100% 28px;
    height: 28px;
    margin: 20px;
}

.bottom_seperator{
    background-image: linear-gradient(90deg,#000 2px,#fcee0a 0,#fcee0a calc(50% - 1px),
    #000 calc(50% - 1px),#000 calc(50% + 1px),#fcee0a calc(50% + 1px),
    #fcee0a calc(100% - 2px),#000 calc(100% - 2px),#000),
    linear-gradient(90deg,#000 28px,#fcee0a 0,#fcee0a calc(50% - 14px),#000 calc(50% - 14px),
    #000 calc(50% + 14px),#fcee0a calc(50% + 14px),#fcee0a calc(100% - 28px),#000 calc(100% - 28px),#000);
    background-repeat: no-repeat;
    background-size: 100% 26px,100% 28px;
    height: 28px;
    margin: 20px;
}

.cut_container{
    border-color: #fcee0a transparent transparent;
    border-style: solid;
    border-width: 17px 17px 0 0;
    height: 0px;
    width: 100px;
    /* position: absolute;
    top: 0; */
}

/* Want to add an svg after this */
.black_container{
    background-color: #000;
    height: 100px;
    width: 75vw;
}

.gallery_container{
    display: block;
    width: 100%;
    position: relative;
}

.myImg{
    height: 100px;
    width: 100px;
    background-color: red;
}